In [1]:
import geopandas as gpd

In [2]:
building_shapefile_path = r"F:\Simulation_Comparison\web_streamlit_palm\data\shapefiles\buildings.shp"
trees_base_crown_path = r"F:\Simulation_Comparison\web_streamlit_palm\data\shapefiles\trees_base_crown.shp"
trees_base_trunk_path = r"F:\Simulation_Comparison\web_streamlit_palm\data\shapefiles\trees_base_trunk.shp"
added_trees_crown_path = r"F:\Simulation_Comparison\web_streamlit_palm\data\shapefiles\added_trees_crown.shp"
added_trees_trunk_path = r"F:\Simulation_Comparison\web_streamlit_palm\data\shapefiles\added_trees_trunk.shp"

In [3]:
gdf = gpd.read_file(added_trees_trunk_path)
gdf = gdf.to_crs(epsg=4326)
gdf.head()

,T_spec,T_heig,T_crown_1,T_trunk,geometry
0,Celtis,10,8,37,"POLYGON ((9.17684 47.66035, 9.17684 47.66035, ..."
1,Celtis,10,8,37,"POLYGON ((9.17663 47.66033, 9.17663 47.66033, ..."
2,Celtis,10,8,37,"POLYGON ((9.17616 47.66030, 9.17616 47.66030, ..."
3,Celtis,10,8,37,"POLYGON ((9.17594 47.66029, 9.17594 47.66029, ..."
4,Celtis,10,8,37,"POLYGON ((9.17578 47.66027, 9.17578 47.66027, ..."

In [4]:
# columns_indices_to_drop = list(range(0,11)) + [12] # buildings
# columns_indices_to_drop = [0, 2, 3]
columns_indices_to_drop = [0, 2, 3]
gdf_clean = gdf.drop(gdf.columns[columns_indices_to_drop], axis=1)
gdf_clean.head()

   T_heig                                           geometry
0      10  POLYGON ((9.17684 47.66035, 9.17684 47.66035, ...
1      10  POLYGON ((9.17663 47.66033, 9.17663 47.66033, ...
2      10  POLYGON ((9.17616 47.66030, 9.17616 47.66030, ...
3      10  POLYGON ((9.17594 47.66029, 9.17594 47.66029, ...
4      10  POLYGON ((9.17578 47.66027, 9.17578 47.66027, ...

In [5]:
output_geojson_path = r'F:\output_file.geojson'
gdf_clean.to_file(output_geojson_path, driver='GeoJSON')